{% extends "base.html" %}
{% load static %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#    <head>#}
{#        <meta charset="UTF-8">#}
{#        <title>Access</title>#}
{#        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">#}
{#        <style>#}
{#            td, th {#}
{#                border: 1px solid black;#}
{#                padding: 7px;#}
{#                text-align: left;#}
{#            }#}
{#            table {#}
{#                border-collapse: collapse;#}
{#                display: flex;#}
{#                justify-content: center;#}
{#            }#}
{#        </style>#}
{#    </head>#}
{##}
{#    <body>#}

{% block content %}

<table class="table table-hover" style="padding: 50px;">

    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Text</th>
    </tr>

    {% for i in passData %}
{#    <tr>#}
{#        <td class="remark-li"> {{ i.name|title }} </td>#}
{#        <td class="remark-li"> {{ i.text|title }} </td>#}
{#    </tr>#}
    <tr>
        <th scope="row">-></th>
        <td> {{ i.name|title }} </td>
        <td> {{ i.text|title }} </td>
    </tr>

    {% endfor %}

    <a href="{% url "firstOne" %}" class="btn btn-success">Checkout remark</a>
<br>
</table>

{% endblock %}
{#    </body>#}
{#</html>#}