<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Access</title>
        <style>
            td, th {
                border: 1px solid black;
                padding: 7px;
                text-align: left;
            }
            table {
                border-collapse: collapse;
                display: flex;
                justify-content: center;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Text</th>
            </tr>
            {% for i in passData %}
            <tr>
                <td> {{ i.name|title }}</td>
                <td> {{ i.text|title }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>